@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* navbar */

.main {
	padding: 10px 50px;
}

html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Mulish', sans-serif;
	box-sizing: border-box;
}

#navbar {
	z-index: 200000000000;
	position: sticky;
	top: 0;
	/* padding: 40px; */
	cursor: pointer;
}

.navbar.sticky {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.navbar-links a {
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	padding-bottom: 4px;
	/* add this line */
	position: relative;
	/* add this line */
}

.navbar-links a::before {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background-color: gold;
	position: absolute;
	left: 50%;
	bottom: 0;
	transition: width 0.3s ease-out;
}

.navbar-links a:hover::before {
	width: 100%;
	left: 0;
	transition: width 0.3s ease-out, left 0.3s ease-out;
}

.navbar-links a.active {
	color: gold;
	font-weight: bold;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	background-color: white;
	height: 60px;
	padding: 10px 50px;
	margin-top: 10px;

	/* box-shadow: 0px 0.5px 0px grey; */
}

.navbar-logo img {
	width: 200px;
}

.navbar-links {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.navbar-links li {
	margin: 0 10px;
}

.navbar-links a {
	text-decoration: none;
	color: black;
	font-size: 18px;
}

.navbar-links a:hover {
	color: goldenrod;
}

.navbar-toggle {
	display: none;
	flex-direction: column;
	cursor: pointer;
}

.bar {
	width: 25px;
	height: 3px;
	background-color: black;
	margin: 4px 0;
}

@media (max-width: 768px) {
	.navbar-links {
		display: none;
		position: absolute;
		top: 60px;
		right: 0;
		background-color: white;
		width: 100%;
		flex-direction: column;
		align-items: center;
		box-shadow: 0px 4px 2px -2px gray;
	}

	.navbar-links li {
		margin: 10px 0;
	}

	.navbar-toggle {
		display: flex;
	}

	.navbar.open .navbar-links {
		display: flex;
	}
}

/*! Home  */

/* src/Home.css */
.home-container {
	/* margin-top: 20px; */
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 20px;
	background-color: white;
	background: linear-gradient(to right,
			rgb(255, 255, 255) 0%,
			rgb(241, 248, 212) 25%,
			rgb(255, 255, 255) 75%,
			rgb(255, 255, 255) 100%);
}

.home-left {
	padding-top: 20px;
	flex: 1;
	padding-right: 20px;
	display: flex;
	gap: 30px;
	flex-direction: column;
	justify-content: space-around;
}

.home-left h1 {
	font-size: 3.5rem;
	font-weight: bold;
	color: black;
	line-height: 60px;
	width: 70%;
}

.home-left p {
	color: grey;
	font-size: 1rem;
	margin-top: 10px;
	width: 70%;
}

.home-right {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home-right img {
	max-width: 100%;
	height: auto;
	border-radius: 10px;
}

.home-left .highlight {
	background: linear-gradient(45deg, gold, goldenrod);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.emb {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

@media (max-width: 768px) {
	.main {
		padding: 20px;
	}

	.home-container {
		flex-direction: column-reverse;
		text-align: center;
	}

	.home-left {
		padding-right: 0;
		margin-bottom: 20px;
		padding-top: 0px;
		gap: 10px;
	}

	.home-left h1 {
		font-size: 2.2rem;
		width: 100%;
		line-height: normal;
	}

	.home-left p {
		width: 100%;
	}

	.home-right img {
		max-width: 80%;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.home-container {
		flex-direction: column-reverse;
		text-align: center;
		align-items: center;
	}

	.home-left {
		padding-right: 0;
		margin-bottom: 20px;
		justify-content: center;
		align-items: center;
	}

	.home-left h1 {
		font-size: 2.2rem;
	}

	.home-left p {
		font-size: 1rem;
	}

	.home-right img {
		max-width: 80%;
	}
}

.home-container {
	overflow: hidden;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 8px;
	padding: 50px 50px;
}

.home-left,
.home-right {
	opacity: 0;
	transform: translateY(-100%);
	transition: transform 1.5s ease-in-out, opacity 1s ease-in-out;
}

.home-right {
	transform: translateY(100%);
}

.home-container.show .home-left,
.home-container.show .home-right {
	opacity: 1;
	transform: translateY(0);
}

/* about us */

.about-us {
	/* padding: 10px 50px; */
	margin-top: 40px;
}

.wavy {
	width: 150px;
}

.about-title {
	text-align: center;

	/* margin-top: 20px; */
	/* margin-bottomx`: 0; */
}

.about-para {
	margin-bottom: 20px;
}

.subtitle {
	color: #ffc000;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 20px;
}

.about-container {
	display: flex;
	/* gap: 10px; */
	padding: 50px;
	align-items: center;
}

.about-container img {
	width: 80%;
	object-fit: contain;
	border-radius: 20px;
}

.about-right {
	width: 100%;
}

@media (max-width: 768px) {
	.about-container {
		flex-direction: column-reverse;
		text-align: center;
		padding: 20px;
	}

	.about-left {
		margin-bottom: 20px;
	}

	.about-left img {
		width: 100%;
		max-width: 80%;
	}

	.about-right h1 {
		font-size: 2.2rem;
		width: 100%;
		line-height: normal;
	}

	.about-right p {
		width: 100%;
		font-size: 1rem;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.about-container {
		flex-direction: column-reverse;
		text-align: center;
		align-items: center;
	}

	.about-left {
		margin-bottom: 20px;
		justify-content: center;
		align-items: center;
	}

	.about-left img {
		width: 100%;
		max-width: 80%;
	}

	.about-right h1 {
		font-size: 2.2rem;
	}

	.about-right p {
		font-size: 1rem;
	}
}

/* contact us */

.form-res {
	margin: 20px 0;
}

.contact-title {
	text-align: center;
}

/* styles.css */
.contact-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	border-radius: 10px;
}

.contact-title {
	text-align: center;
	margin-bottom: 50px;
}

.contact-form {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	max-width: 1200px;
	box-shadow: 0px 10px 10px 10px rgb(185, 185, 185);
	border-radius: 10px;
}

.contact-form-left,
.contact-form-right {
	width: 48%;
}

.contact-form-left {
	display: flex;
	flex-direction: column;
}

.form-group {
	margin-bottom: 15px;
}

.form-group label {
	display: block;
	margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
}

button {
	padding: 10px 20px;
	background-color: #4caf50;
	color: white;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: #45a049;
}

/* Responsive Design */
@media (max-width: 1024px) {
	.contact-form {
		flex-direction: column;
	}

	.contact-form-left,
	.contact-form-right {
		width: 100%;
	}

	.contact-form-right iframe {
		width: 100%;
		height: 300px;
	}
}

.touch {
	margin-bottom: 20px;
	background: linear-gradient(45deg, gold, goldenrod);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* styles.css */
.contact-details {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-top: 20px;
}

.contact-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.contact-icon {
	font-size: 2rem;
	margin-bottom: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
	.contact-details {
		flex-direction: column;
		align-items: center;
	}

	.contact-item {
		margin-bottom: 20px;
	}
}

.address {
	/* width: 50%; */
}

.contact-details {
	margin-top: 40px;
}

/*! visa requirements  */

.visa-requirements {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
	width: 50%;
	margin-bottom: 20px;
}

.visa-requirements h2 {
	margin-bottom: 20px;
	font-size: 24px;
}

.visa-requirements h3 {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 20px;
}

.visa-requirements ul {
	padding-left: 20px;
	line-height: 1.6;
	margin-bottom: 20px;
}

.visa-requirements li {
	margin-bottom: 10px;
	font-size: 16px;
}

/* customers */

.customers {
	text-align: center;
	padding: 20px;
}

.logo-container {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 60px;
	margin: 0 auto;
}

.customer-logo {
	width: 100px;
	height: auto;
	object-fit: contain;
}

/* test */

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	margin-top: 0;
	transition: transform 0.3s ease-out;
	transform: translateY(0);
	padding: 40px;
}

.navbar.hide {
	transform: translateY(-100%);
}

/*! Footer  */

/* src/components/Footer.css */
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: #333;
	color: #fff;
}

.footer .left {
	font-size: 14px;
}

.footer .right a {
	margin: 0 10px;
	color: #fff;
	font-size: 18px;
	text-decoration: none;
}

.footer .right a:hover {
	color: #ddd;
}


/* Visa Page */

.visaContainer h1 {
	text-align: center;
	margin-bottom: 20px;
}

.visaContainer-countries {
	padding: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
	align-items: center;
}

.visaCountryItem {
	width: 300px;
	height: 300px;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border: 1px solid #D3D3D3;
	border-radius: 12px;
	cursor: pointer;
	transition: transform 0.3s ease;
}

.visaCountryItem:hover {
	transform: scale(1.1)
}


.visaCountryBox {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Country Flag Page */

.countryImage {
	width: 100%;
	height: 100%;
}

.countryName {
	font-size: 18px;
	font-weight: bold;
}

.visaCountryList {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;
}

.loading-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
}

.loading-spinner {
	width: 50px;
	height: 50px;
	border: 5px solid #ddd;
	border-top: 5px solid #3498db;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.visa-requirements-cta {
	margin: 20px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.visa-requirements-cta button {
	background-color: #ffc000;
	padding: 10px 20px;
	color: #ffffff;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 8px;
	font-size: 18px;
	transition: background-color 0.3s ease;
}

.visa-requirements-cta button:hover {
	background-color: #ffd148;
}

/* Flight page */

.flight {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(100vh - 80px);
}

.flight h1 {
	margin: 20px 10px;
	text-align: center;
}

.flight h2 {
	text-align: center;
	margin: 10px;
}

.features {
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	flex-wrap: wrap;
}

/* featurebox */

.featurebox {
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-top: 20px;
}

.featurebox h3 {
	text-align: center;
	margin: 0;
}

.featurebox .feature-icon {
	width: 70px;
	height: 70px;
}

.featurebox p {
	margin-top: 10px;
	text-align: center;
}

/* BookingCTA */

.booking-section {
	display: flex;
	flex-direction: column;
	gap: 15px;
	justify-content: center;
	align-items: center;
	background-color: #fafafa;
	padding: 20px;
	box-sizing: border-box;
}

.booking-section .booking-btn {
	background-color: #ffc000;
	color: #ffffff;
	border-radius: 8px;
	padding: 10px 20px;
	text-decoration: none;
	transition: background-color 0.3s ease;
}



.booking-btn:hover {
	background-color: #ffd148;
}

.booking-section p {
	text-align: center;
}

.contact-info {
	font-size: 14px;
	text-align: center;

}

/* Hotel */

.hotel {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(100vh - 80px);
}

.hotel h1 {
	margin: 20px 10px;
	text-align: center;
}

/* Insurance */

.insurance {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(100vh - 80px);
}

.insurance h1 {
	margin: 20px 10px;
	text-align: center;
}

/* License */

.license {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(100vh - 80px);
}

.license h1 {
	margin: 20px 10px;
	text-align: center;
}

/* Passport */

.passport {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(100vh - 80px);
}

.passport h1 {
	margin: 20px 10px;
	text-align: center;
}

/* Housemaid */

.housemaid {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(100vh - 80px);
}

.housemaid h1 {
	margin: 20px 10px;
	text-align: center;
}

.requirements {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 8px;
	margin-top: 40px;
}

.requirements h2 {
	margin: 10px;
}

.requirements-list {
	list-style: none;
	padding: 0;
}

.requirements-list li {
	display: flex;
	gap: 10px;
}


/* Corporate */

.corporate {
	width: 90vw;
	margin: 0 auto;
}

.corporate-container {
	display: flex;
	justify-content: center;
	flex-direction: column;

}


.corporate-introBox {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	align-items: center;
	margin-top: 40px;
	height: fit-content;
}

.corporate-introBox .corporate-introBox-img {
	width: 600px;
	height: 100%;
	flex: 1;
}

.corporate-introBox .corporate-introBox-img img {
	width: 100%;
	height: 100%;
	border-radius: 18px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.corporate-introBox .corporate-introBox-content .corporate-introBox-title {
	font-size: 52px;
	font-weight: 700;
	text-transform: capitalize;
	color: #17233e;
	line-height: 1.4;

}

.corporate-introBox-content {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.corporate-introBox-hashtag {
	margin-bottom: 10px;
	padding: 5px;
	background-color: #ffc000;
	color: #ffffff;
	border-radius: 4px;
	width: fit-content;
	font-weight: 700;
}


.corporate-main-content {
	margin: 40px 0px;
	line-height: 1.4;
	font-size: 18px;
}

.corporate-main-content>p {
	text-align: start;
}

.corporate-offer-box {
	margin: 0 auto;
	background-color: #fafafa;
	padding: 30px;
	box-sizing: border-box;
	border-radius: 18px;
	width: 100%;
}

.corporate-offer-box h1 {
	text-align: center;
	margin-bottom: 25px;
}

.offer-list {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.offer-list li {
	display: flex;
	align-items: center;
	gap: 12px;
	font-size: 18px;
	margin-bottom: 8px;
	font-weight: 700;
}

.tick-icon {
	color: #28a745;
	font-size: 22px;
}

.feature-box {
	margin: 40px 0px;
}

.feature-box h1 {
	margin: 20px 10px;
	text-align: center;
}


/* BookingForm */

.booking-form {
	display: flex;
	flex-direction: column;
	background-color: #17233e;
	color: #fff;
	padding: 30px;
	box-sizing: border-box;
	border-radius: 18px;
	margin-bottom: 40px;
}

.booking-form input {
	background-color: #eaeaea;
	padding: 20px;
	outline: none;
	border: none;
	border-radius: 8px;
	margin: 10px 0px;
}

.booking-form label {
	font-weight: 700;
	margin-top: 10px;
	font-size: 18px;
}

.booking-form>h1,
p {
	text-align: center;
	margin: 10px;
}

.booking-form textarea {
	height: 200px;
	background-color: #eaeaea;
	padding: 20px;
	outline: none;
	border: none;
	border-radius: 8px;
	margin-top: 15px;
	margin-bottom: 30px;
}

.booking-form button {
	border: none;
	outline: none;
	cursor: pointer;
	padding: 10px 25px;
	border-radius: 8px;
	width: fit-content;
	font-size: 18px;
	margin: auto;
	background-color: #ffc000;
	color: #ffffff;
}

@media screen and (max-width: 1280px) {
	.corporate-introBox h1 {
		font-size: 44px;
	}
}

@media screen and (max-width: 980px) {
	.corporate-introBox {
		flex-direction: column;
	}

	.corporate-introBox .corporate-introBox-img {
		width: 100%;
		height: 100%;
		margin-top: 20px;
	}

	.corporate-introBox .corporate-introBox-content .corporate-introBox-title {
		text-align: center;
	}
}

@media screen and (max-width: 768px) {
	.corporate-introBox .corporate-introBox-content .corporate-introBox-title {
		font-size: 32px;
	}

	.booking-form input {
		padding: 10px;
	}

	.booking-form textarea {
		padding: 10px;
	}
}