@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* navbar */

.main {
	padding: 10px 50px;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Mulish', sans-serif;
	box-sizing: border-box;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	background-color: white;
	height: 60px;
	padding: 10px 50px;
	margin-top: 10px;

	/* box-shadow: 0px 0.5px 0px grey; */
}

.navbar-logo {
	font-size: 24px;
	font-weight: bold;
	color: black;
}

.navbar-links {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.navbar-links li {
	margin: 0 10px;
}

.navbar-links a {
	text-decoration: none;
	color: black;
	font-size: 18px;
}

.navbar-links a:hover {
	color: goldenrod;
}

.navbar-toggle {
	display: none;
	flex-direction: column;
	cursor: pointer;
}

.bar {
	width: 25px;
	height: 3px;
	background-color: black;
	margin: 4px 0;
}

@media (max-width: 768px) {
	.navbar-links {
		display: none;
		position: absolute;
		top: 60px;
		right: 0;
		background-color: white;
		width: 100%;
		flex-direction: column;
		align-items: center;
		box-shadow: 0px 4px 2px -2px gray;
	}

	.navbar-links li {
		margin: 10px 0;
	}

	.navbar-toggle {
		display: flex;
	}

	.navbar.open .navbar-links {
		display: flex;
	}
}

/*! Home  */

/* src/Home.css */
.home-container {
	/* margin-top: 20px; */
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 20px;
	background-color: white;
	background: linear-gradient(
		to right,
		rgb(255, 255, 255) 0%,
		rgb(241, 248, 212) 25%,
		rgb(255, 255, 255) 75%,
		rgb(255, 255, 255) 100%
	);
}

.home-left {
	padding-top: 20px;
	flex: 1;
	padding-right: 20px;
	display: flex;
	gap: 30px;
	flex-direction: column;
	justify-content: space-around;
}

.home-left h1 {
	font-size: 3.5rem;
	font-weight: bold;
	color: black;
	line-height: 60px;
	width: 70%;
}

.home-left p {
	color: grey;
	font-size: 1rem;
	margin-top: 10px;
	width: 70%;
}

.home-right {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home-right img {
	max-width: 100%;
	height: auto;
	border-radius: 10px;
}

.home-left .highlight {
	background: linear-gradient(45deg, gold, goldenrod);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.emb {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

@media (max-width: 768px) {
	.main {
		padding: 20px;
	}

	.home-container {
		flex-direction: column-reverse;
		text-align: center;
	}

	.home-left {
		padding-right: 0;
		margin-bottom: 20px;
		padding-top: 0px;
		gap: 10px;
	}

	.home-left h1 {
		font-size: 2.2rem;
		width: 100%;
		line-height: normal;
	}

	.home-left p {
		width: 100%;
	}

	.home-right img {
		max-width: 80%;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.home-container {
		flex-direction: column-reverse;
		text-align: center;
		align-items: center;
	}

	.home-left {
		padding-right: 0;
		margin-bottom: 20px;
		justify-content: center;
		align-items: center;
	}

	.home-left h1 {
		font-size: 2.2rem;
	}

	.home-left p {
		font-size: 1rem;
	}

	.home-right img {
		max-width: 80%;
	}
}

.home-container {
	overflow: hidden;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 8px;
	padding: 50px 50px;
}

.home-left,
.home-right {
	opacity: 0;
	transform: translateY(-100%);
	transition: transform 1.5s ease-in-out, opacity 1s ease-in-out;
}

.home-right {
	transform: translateY(100%);
}

.home-container.show .home-left,
.home-container.show .home-right {
	opacity: 1;
	transform: translateY(0);
}

/* about us */

.about-us {
	/* padding: 10px 50px; */
	margin-top: 40px;
}

.wavy {
	width: 150px;
}

.about-title {
	text-align: center;

	/* margin-top: 20px; */
	/* margin-bottomx`: 0; */
}

.subtitle {
	color: #ffc000;
	font-weight: bold;
	margin-top: 15px;
}

.about-container {
	display: flex;
	/* gap: 10px; */
	padding: 50px;
	align-items: center;
}

.about-container img {
	width: 80%;
	object-fit: contain;
	border-radius: 20px;
}

.about-right {
	width: 100%;
}

@media (max-width: 768px) {
	.about-container {
		flex-direction: column-reverse;
		text-align: center;
		padding: 20px;
	}

	.about-left {
		margin-bottom: 20px;
	}

	.about-left img {
		width: 100%;
		max-width: 80%;
	}

	.about-right h1 {
		font-size: 2.2rem;
		width: 100%;
		line-height: normal;
	}

	.about-right p {
		width: 100%;
		font-size: 1rem;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.about-container {
		flex-direction: column-reverse;
		text-align: center;
		align-items: center;
	}

	.about-left {
		margin-bottom: 20px;
		justify-content: center;
		align-items: center;
	}

	.about-left img {
		width: 100%;
		max-width: 80%;
	}

	.about-right h1 {
		font-size: 2.2rem;
	}

	.about-right p {
		font-size: 1rem;
	}
}

/* contact us */

.contact-title {
	text-align: center;
}

/* styles.css */
.contact-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	border-radius: 10px
}

.contact-title {
	text-align: center;
	margin-bottom: 50px;
}

.contact-form {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	max-width: 1200px;
	box-shadow: 0px 10px 10px 10px rgb(185, 185, 185);
	border-radius: 10px;
}

.contact-form-left,
.contact-form-right {
	width: 48%;
}

.contact-form-left {
	display: flex;
	flex-direction: column;
}

.form-group {
	margin-bottom: 15px;
}

.form-group label {
	display: block;
	margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
}

button {
	padding: 10px 20px;
	background-color: #4caf50;
	color: white;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: #45a049;
}

/* Responsive Design */
@media (max-width: 1024px) {
	.contact-form {
		flex-direction: column;
	}

	.contact-form-left,
	.contact-form-right {
		width: 100%;
	}

	.contact-form-right iframe {
		width: 100%;
		height: 300px;
	}
}

.touch {
	margin-bottom: 20px;
	background: linear-gradient(45deg, gold, goldenrod);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
/* styles.css */
.contact-details {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-top: 20px;
}

.contact-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.contact-icon {
	font-size: 2rem;
	margin-bottom: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
	.contact-details {
		flex-direction: column;
		align-items: center;
	}

	.contact-item {
		margin-bottom: 20px;
	}
}

.address {
	/* width: 50%; */
}

.contact-details {
	margin-top: 40px;
}
